<section class="aboutme">
  <h1>About Me</h1>
  <p>I am <span class="name">Filippo Valsorda</span> (<a href="https://twitter.com/FiloSottile">@FiloSottile</a>) an Italian consultant specialized in cryptography and security with a passion for Python and maths.
  	I am one of the guys currently behind <a href="https://github.com/rg3/youtube-dl">youtube-dl</a> and I am attending <a href="http://hackerschool.com">Hacker School</a> in NYC.</p>

  <img src="http://projecteuler.net/profile/FiloSottile.png">
</section>
