<section class="aboutme">
  <h1>About Me</h1>
  <p>I am <span class="name">Filippo Valsorda</span> (<a href="https://twitter.com/FiloSottile">@FiloSottile</a>) an Italian consultant specialized in cryptography and security with a passion for Python, Go and maths.
  	I am one of the guys currently behind <a href="https://github.com/rg3/youtube-dl">youtube-dl</a> and I attended <a href="http://hackerschool.com">Hacker School</a> in NYC. Now I'm in Milan.</p>

  <p><span style="cursor: pointer" onclick="this.textContent = ('hi' + '@filippo' + String.fromCharCode(46) + 'io'); this.onclick = null; this.style.cursor='default'">Click here to reveal my email.</span></p>

  <img src="//projecteuler.net/profile/FiloSottile.png">

  <p style="display:none"><a href="https://plus.google.com/u/0/+FilippoValsorda/?rel=author">Google+</a></p>
</section>
