{% if site.coderwall_user %}
<section class="coderwall">
  <h1>Coderwall<a href="https://coderwall.com/filosottile"><img alt="Endorse"
  src="http://api.coderwall.com/filosottile/endorsecount.png" /></a></h1>
  <ul id="cw_badges">
    <li class="loading">Status updating...</li>
  </ul>

  <script type="text/javascript">
    var coderwall = (function(){
      function render(options, badges){
        var fragment = '',
            t = $(options.target),
            height = 65,
            width = 65,
            index;

        for (index in badges) {
          fragment += '<a class="cw_badge"title="' + badges[index].description + '" href="http://coderwall.com/' + options.user + '">';
          fragment +=   '<img alt="' + badges[index].description + '" height="' + width + '" width="' + height + '" src="' + badges[index].badge + '"/>';
          fragment += '</a>';
        }

        t.html(fragment);
      }
      return {
        showBadges: function(options){
          $.ajax({
              url: 'http://coderwall.com/' + options.user + '.json?callback=?'
            , type: 'jsonp'
            , jsonpCallback: 'callback'
            , jsonpCallbackName: '?'
            , error: function (err) { $(options.target + ' li.loading').addClass('error').text("Error loading feed"); }
            , success: function(res) {
                render(options, res.data.badges);
            }
          });
        }
      };
    })();

    $(document).ready(function(){
      coderwall.showBadges({
        user: '{{site.coderwall_user}}',
        target: '#cw_badges'
      });
    });
  </script>
  <style type="text/css">
    .cw_badge img {
      padding: 5px;
      border: 0 none !important;
      -moz-box-shadow: none !important;
      -webkit-box-shadow: none !important;
      -o-box-shadow: none !important;
      box-shadow: none !important;
    }
  </style>
</section>
{% endif %}
