<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://abyssdomain.expert/@filippo" rel="me">
    <link href="https://bsky.app/profile/filippo.abyssdomain.expert" rel="me">
    <link rel="alternate" type="application/rss+xml" href="https://words.filippo.io/rss/">
    <meta property="og:type" content="article">
    <meta name="fediverse:creator" content="@filippo@abyssdomain.expert">
    
    <title>{{ .Subject }}</title>
    {{ if .Description }}<meta name="description" content="{{ .Description }}">{{ end }}
    {{ if .Image }}<meta property="og:image" content="{{ .Image }}">{{ end }}
    <meta property="article:published_time" content="{{ .PublishDate }}">
    <link rel="canonical" href="https://words.filippo.io/{{ canonicalSlug . }}/">

    <style>
        :root {
            font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
            color-scheme: light dark;
        }
        code, pre {
            font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
            -webkit-font-smoothing: antialiased;
        }
        p, li {
            line-height: 1.8em;
        }
        sub, sup {
            line-height: 0;
        }
        a {
            color: inherit;
        }
        header {
            margin: 4rem auto 0;
            max-width: 350px;
            padding: 0 10px;
        }
        main {
            width: auto;
            max-width: 700px;
            padding: 0 15px;
            margin: 80px auto;
        }
        h1 {
            text-transform: uppercase;
            margin-top: 0.25em;
            font-size: 2em;
        }
        pre {
            padding: 1em;
            overflow-x: auto;
            color: Canvas;
            background-color: CanvasText;
            font-size: 0.9em;
            line-height: 1.5em;
        }
		img {
			max-width: 100%;
			height: auto;
            margin: 0 auto;
            display: block;
		}
        li {
            margin-top: 1em;
            margin-bottom: 1em;
        }
    </style>

    <script defer data-domain="blog.filippo.io" src="https://filippo.io/js/script.js"></script>
    <script>
        window.plausible = window.plausible || function () {
            (window.plausible.q = window.plausible.q || []).push(arguments)
        }

        document.addEventListener("DOMContentLoaded", (event) => {
            let trigger = document.createElement("div");
            let footnotes = document.querySelector(".footnotes");
            if (footnotes) {
                footnotes.before(trigger);
            } else {
                document.querySelector("article").after(trigger);
            }

            new IntersectionObserver((entries, observer) => {
                entries.forEach(entry => {
                    if (!entry.isIntersecting) return;
                    observer.disconnect();
                    plausible("Finished");
                })
            }).observe(trigger);

            new IntersectionObserver((entries, observer) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) return;
                    observer.disconnect();
                    plausible("Scrolled");
                })
            }).observe(document.querySelector("h1"));
        });
    </script>
</head>
<body>

<header>
    <a href="https://filippo.io"><picture>
        <source srcset="https://assets.buttondown.email/images/72e03d2e-fcb2-4893-ab9c-8f561c0b07c7.png" media="(prefers-color-scheme: dark)">
        <img src="https://assets.buttondown.email/images/1e8b4251-b3e2-4de1-9b95-9f5d0447644d.png" alt="Filippo Valsorda">
    </picture></a>
</header>

<main>
    <article>
        <time datetime="{{ dateFormat .PublishDate "2006-01-02" }}">
            {{ dateFormat .PublishDate "2 Jan 2006" }}</time>
        <h1>{{ .Subject }}</h1>
        <section>
            {{ .Body }}
        </section>
    </article>
    <aside class="subscribe" style="border: 1px solid; padding: 0 1em; margin: 1em 0;">
        <p style="text-align: center;">
            <a href="https://filippo.io/newsletter">Subscribe</a>&nbsp;📮&ensp;|&ensp;<a href="https://filippo.io/newsletter">Feed</a>&nbsp;📡&ensp;|&ensp;<a href="https://bsky.app/profile/filippo.abyssdomain.expert" rel="me">Bluesky</a>&nbsp;🦋&ensp;|&ensp;<a href="https://abyssdomain.expert/@filippo" rel="me">Mastodon</a>&nbsp;🐘
        </p>
    </aside>
    <script>
        const h2first = document.querySelector("article h2:first-of-type")
        h2first.parentElement.insertBefore(document.getElementsByClassName("subscribe")[0].cloneNode(true), h2first)
        const h2last = document.querySelector("h2#the-picture")
        if (h2last && h2last != h2first) h2last.parentElement.insertBefore(document.getElementsByClassName("subscribe")[0].cloneNode(true), h2last)
    </script>
