app = "filippo"

[deploy]
  strategy = "bluegreen"

[metrics]
  port = 9091
  path = "/metrics"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [services.concurrency]
    soft_limit = 200
    type = "requests"

  [[services.ports]]
    handlers = ["http"]
    port = 80
    force_https = true

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.http_checks]]
    grace_period = "120s"
    interval = "10s"
    restart_limit = 6
    timeout = "2s"
    method = "get"
    path = "/"
    protocol = "http"
    [services.http_checks.headers]
      Host = "filippo.io"
