<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/archives">Archives</a></li>
  <li><a href="{{ root_url }}/links">Links</a></li>
  <li><a href="{{ root_url }}/CV">CV</a></li>
  <li><a href="https://github.com/FiloSottile">GitHub</a></li>
</ul>

</nav>

<nav role="navigation">

<ul class="main-navigation"><li><a><strong>Projects</strong></a></li>
    <li><a href="https://github.com/rg3/youtube-dl">youtube-dl</a></li>
    <li><a href="/Biglumber-map/">Biglumber map</a></li>
    <li><a href="https://apps.facebook.com/coverflipper/">Facebook cover flipper</a></li>
    <li><a href="https://traviscron.pythonanywhere.com/">Travis cron trigger</a></li>
    <li><a href="https://ruzzlemap.it/">Ruzzle map</a></li>
    <li><a href="https://www.recapthelaw.org/">RECAP</a></li>
</ul>

