{{template "head.html.tmpl"}}

{{define "tweet"}}
	<p>{{.User.Name}} <a href="https://twitter.com/{{.User.ScreenName}}">@{{.User.ScreenName}}</a>
	<p><blockquote>{{with .FullText}}{{.}}{{else}}{{.Text}}{{end}}</blockquote>
	<p><a href="https://twitter.com/{{.User.ScreenName}}/status/{{.ID}}">{{.CreatedAt}}</a>
{{end}}

<h2>Tweet number {{.Tweet.ID}}</h2>

{{template "tweet" .Tweet}}

{{with .Tweet.RetweetedStatus}}
	<h3>Retweet of {{.ID}}</h3>
	{{template "tweet" .}}

	{{with .QuotedStatus}}
		<h4>Quote of {{.ID}}</h4>
		{{template "tweet" .}}
	{{end}}
{{end}}

{{with .Tweet.QuotedStatus}}
	<h3>Quote of {{.ID}}</h3>
	{{template "tweet" .}}
{{end}}

<p>Source: <code>{{.Source}}</code></p>

<pre><code>{{.JSON}}</code></pre>
