app = "ct-uptime-alerts"

[deploy]
  strategy = "bluegreen"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "suspend"
  auto_start_machines = true
  min_machines_running = 0

  [http_service.concurrency]
    soft_limit = 200
    type = "requests"

  [[http_service.checks]]
    grace_period = "60s"
    interval = "10s"
    restart_limit = 6
    timeout = "2s"
    method = "get"
    path = "/geomys.org?threshold=0"
