<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Covfefe</title>

    <link href="https://fonts.googleapis.com/css?family=Bitter|Raleway" rel="stylesheet">

    <style>
        .container {
            width: auto;
            max-width: 700px;
            padding: 100px 15px 0;
        }

        body {
            font-family: "Raleway";
        }

        h1,
        h2 {
            font-family: "Bitter";
        }

        input {
            padding: 8px;
            font-size: 15px;
            font-family: "Raleway";
            min-width: 40%;
            height: 14px;
        }

        button {
            font-size: 20px;
            vertical-align: bottom;
            background: none;
            border: 1px solid lightgrey;
            border-radius: 5px;
            font-family: "Bitter";
            padding: 3px 6px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Covfefe</h1>
