// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: $page-bg image-url('inflicted.png') top left;
}

a.external-link:after {
	content: " \27A6";
}

body > header {
	background: none;
}

#content {
	background-image: url(/images/grey.png);
}