// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: $page-bg image-url('inflicted.png') top left;
}

a.external-link:after {
	content: " \27A6";
}

body > header {
	background: none;
}

#content {
	background-image: url(/images/grey.png);
}

body {
	zoom: 0.9;
}
.sharing, #disqus_thread {
	zoom: 1.11111;
}

div.sharing {
	margin: .8em 0;
}

.permalink {
	background: darken($main-bg, 5);
	display: inline-block;
	padding: .4em .8em;
	margin-right: .5em;
	text-decoration: none;
	color: mix($text-color, $text-color-light);
	@extend .serif;
	@include transition(background-color .5s);
	&:visited {
	  color: mix($text-color, $text-color-light);
	}
	&:hover {
	  background: $link-color-hover;
	  text-shadow: none;
	  color: $main-bg;
	}
}

.coderwall h1 {
	position: relative;
}

.coderwall h1 img {
	border: none;
	bottom: .3em;
	position: absolute;
	right: 0;
}

section.aboutme {
	iframe {
		display: block;
		margin: 0 auto;
	}
	img {
		display: block;
		margin: 20px auto 0;
	}
}

.gist .line-data {
	width: 100%;
}

article table {
	margin-bottom: 1em;
	td {
		padding: 0 10px;
	}
}

article .img_right {
	float: right;
	margin: 0 0 0 15px;
}

article .img_left {
	float: left;
	margin: 0 15px 0 0;
}

article .img_center {
	display: block;
	margin: 0 auto;
}
